
    body{
        background-image: url("../images/gi3.gif");
        background-size:cover;
    }
    div.po{
        border-radius: 10px;
        box-shadow: 0px 2px 2px 1px rgb(194, 218, 111);
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 40%;
    }
    .po{ margin-top: 0px;
        position: absolute;
        color: black;
        background-color:  rgb(243, 239, 7);
        width: 200px;
        height: 30px;
    }
#op{background-color: rgb(243, 239, 7);
        color: black;
        position: absolute;
        bottom: 0px;
        top: 95%;
        width: 200px;
        height: 30px;
    }
    img{
        position: absolute;
        top: 91%;
        left: 46%;
    }